html{
    position: relatvie;
    min-height:100%;
}

body{
    margin-bottom:150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

@media only screen and (max-width: 767px) {
    body{background-color: white;
    }
}

.navbar-custom{ background-color: white;
}

#logo{
    height: 60px;
    padding: top 20px;
    padding-bottom: 5px;

    margin-left: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 24 px;
    font-weight: bold;
    color:white;

    background:turquoise;
}

#logo:hover {
    opacity: 0.7;
}

.navbar-right-custom{
    padding-top: 6 px;
    padding-right: 20px;

    font-family: Arial;
    font-weight: lighter;
}

.navbar-default .navbar-nav > li > a:hover {
    color: turquoise;
}

@media only screen and (max-width: 767px) {
    .navbar-header {
        background-color: turquoise;
    }

    #logo {
        width:100%;

        height: 60px;
        padding-top: 20px;
        padding-bottom: 5 px;

        margin-left: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;

        font-size: 24px;
        font-weight: bold;
        color: white;

        background: turquoise;
    }
}
/* ---- NAV End ---- */

/* ---- Description Start ----*/
.description-header {
    margin-bottom: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 32px;
    font-weight: bold;
    color: turquoise;
}

.description-content {
    padding: 30px;

    margin-top: 32 px;

    background-color: white; 
}

.description-content > p {
    padding-top: 20 px;

    font-size: 16px;
    line-height: 30px;
    color: gray; 
}

.description-text {
    padding-bottom: 20px;
}

#desciption-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 20px; 
    margin-right: 20px; 
}

/* Description content media query */
@media only screen and (max-width: 767px) {
    .description-content {
        padding: 0;
        margin-top: 0;
    }
}

/* ---- Description End ---- */

/* ----Image Nav Start---- */
#imageNav-area {
    width: 100%;

    padding: 30px 30px 43px;

    margin-top: 32px;

    background-color: white;
}

.imageNav-header {
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 25px;
    font-weight: bold;
    color: turquoise;
}

.imageNav-photo {
    width: 140px;
    height: 140px;
}

.imageNav-photo:hover {
    opacity:0.6;
}

.imageNav-photo.active {
    border: 2px solid turquoise; 
}

#images {
    padding-top: 15px;
    text-align: center;
}

/*---- Image Nav End ----*/

